* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
     sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    height: 100vh;
    background: radial-gradient(circle, #6c0c7f,#5c2108);
}
 
.clock {
    width: 500px;
    min-height: 500px;
    position: relative;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    background: radial-gradient(circle, #573656,#000d1a);
}

.brand {
    font-size: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    position: absolute;
    top: 100px;
    background:linear-gradient(to right,#00fff7,#ee00ff);
    border-radius: 50%;
}

.clock::before {
    content: "";
    width: 525px;
    
    height: 525px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right,#6200ff,#ff00885b);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.774);
    z-index: -1;
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    color: #00d9ff;
    text-shadow: 0 0 12px #00a2ff;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}


.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #3a2a3a;
    border: 6px solid #3facbb;
    border-radius: 50%;
}


.hour-hand, .minute-hand, .second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate)*
    1deg));
    transform-origin: bottom;
    border-radius: 30px 30px 0 0;
}


.hour-hand {
    width: 10px;
    height: 100px;
    background: linear-gradient(to top,#00ffd0,#ff00c8);

}


.minute-hand {
    width: 10px;
    height: 150px;
    background:linear-gradient(to top,#00ffd0,#ff00c8);
}

.second-hand {
    width: 6px;
    height: 200px;
    background:linear-gradient(to top,#00ffd0,#ff00c8);
}